$accent-blue: #deeafe;
$dark-color: #07172a;
$primary-blue: #3366cc;
$archival-gold: #6d5e00;
$light-background: #f8fafc;
$soft-slate: #64748b;

::selection {
    background: $primary-blue;
    color: $dark-color;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-radius($radius: 8px){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transition($sec: 0.7s){
    transition: $sec ease;
    -webkit-transition: $sec ease;
    -moz-transition: $sec ease;
    -ms-transition: $sec ease;
    -o-transition: $sec ease;
}

@mixin translateX($x: 0){
    transform: translateX($x);
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -ms-transform: translateX($x);
    -o-transform: translateX($x);
}

@mixin translateY($y: 0){
    transform: translateY($y);
    -webkit-transform: translateY($y);
    -moz-transform: translateY($y);
    -ms-transform: translateY($y);
    -o-transform: translateY($y);
}

@mixin scale($scale: 1){
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
}

.page_main, .footer, .page_header {
    width: 100%;
}

.page_main {
    @extend %flex-center;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.pointer {
    cursor: pointer;
}

.page {
    @extend %flex-center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    position: relative;
    color: $dark-color;
}

.page_header {
    @extend %flex-center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $accent-blue;
    color: $primary-blue;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 3px $dark-color;
}

.page_header_name {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: normal;
    color: $primary-blue;
    -webkit-text-stroke: 1px $dark-color;
    paint-order: stroke fill;
    font-family: "Noto Serif", serif;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $accent-blue;
    padding: 20px;
    color: $dark-color;
    & * {
        font-family: serif;
    }
}

.footer_info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
}

.footer_name {
    font-weight: normal;
}

.footer_copyright, .repo_link, .link {
    opacity: 0.5;
}

.repo_link {
    display: block;
    padding: 5px;
    text-decoration: underline;
    cursor: pointer;
    @include transition();
    &:hover {
        opacity: 0.8;
    }
}

.footer_links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}