$accent-blue: #deeafe;
$dark-color: #07172a;
$primary-blue: #3366cc;
$archival-gold: #6d5e00;
$light-background: #f8fafc;
$soft-slate: #64748b;

::selection {
    background: $primary-blue;
    color: $dark-color;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-radius($radius: 8px){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transition($sec: 0.7s){
    transition: $sec ease;
    -webkit-transition: $sec ease;
    -moz-transition: $sec ease;
    -ms-transition: $sec ease;
    -o-transition: $sec ease;
}

@mixin translateX($x: 0){
    transform: translateX($x);
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -ms-transform: translateX($x);
    -o-transform: translateX($x);
}

@mixin translateY($y: 0){
    transform: translateY($y);
    -webkit-transform: translateY($y);
    -moz-transform: translateY($y);
    -ms-transform: translateY($y);
    -o-transform: translateY($y);
}

@mixin scale($scale: 1){
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
}

.page_main, .footer, .page_header {
    width: 100%;
}

.page_main {
    @extend %flex-center;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}