@use "./sass-methods" as *;

.def_sec {
    @extend %flex-center;
    flex-direction: column;
    padding: 80px 20px 20px;
    margin-bottom: 20px; 
    margin-top: 150px;
}

.def_sec_name {
    @include border-radius();
    background-color: $light-background;
    color: $archival-gold;
    box-shadow: 0 0 2px $dark-color;
    padding: 8px 10px;
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px;
}

.main_title {
    margin: 0 0 10px;
    width: fit-content;
    text-align: center;
    font-size: 6rem;
    width: 75%;
}

.main_desc {
    text-align: center;
    font-size: 1.5rem;
}

.game_cards_sec {
    @extend %flex-center;
    margin-top: 20px;
}

.cards_article {
    @extend %flex-center;
    gap: 50px;
    width: fit-content;
    padding: 20px;
}

.card {
    @extend %flex-center;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
    padding: 50px 60px;
    background-color: $soft-slate;
    @include border-radius();
    box-shadow: 0 0 5px $dark-color;
    color: $light-background;
    -webkit-text-stroke: 0.2px $dark-color;
    paint-order: stroke fill;
    @include transition();
    @include translateY(10px);
    cursor: pointer;
    animation: float 5s ease-in-out infinite;
    -webkit-animation: float 5s ease-in-out infinite;
    animation-delay: 0.2s;
}

.paper_card {
    animation-delay: 0.5s;
}

.scissors_card {
    animation-delay: 0.8s;
}

.play_sec {
    @extend %flex-center;
    padding: 20px;
}

.play_btn {
    font-family: "Noto Serif", serif;
    font-size: 1.5rem;
    padding: 20px 35px;
    margin: 15px;
    background-color: $primary-blue;
    color: $light-background;
    @include border-radius();
}

@keyframes float {
    0% {
        @include translateY(10px);
    }
    50% {
        @include translateY(-10px);
    }
    100% {
        @include translateY(10px);
    }
}